@charset "utf-8";
/*base*/
html,body{height:100%;width:100%;overflow:hidden;}
body{background:#000;font-family:"微软雅黑";}
body,p{margin:0;}ul{margin:0;padding:0;}td{padding:0}
ul,li{list-style-type:none}a{text-decoration:none}
.wp25{width:25%}.white{color:#fff;}

.tab{position:absolute;height:10%;width:100%;background-color:#7b7d7c;text-align:center;font:bold 14px "微软雅黑"; vertical-align:middle;border:0;padding-bottom:4px;}
.tab .img_mid{vertical-align:middle;margin-right:0.5em;}
.tab_nal,.tab_act{cursor:pointer;}
.tab_nal{border-left:1px solid #393939;border-right:1px solid #222222;background-color:#2f2f2f;color:#7d7d7d}
.tab_act{background-color:#7b7d7c;border-left:1px solid #b4b4b4;border-right:1px solid #737373;color:#fff;}

.page{height:90%;width:100%;overflow-y:auto;overflow-x:hidden;position:absolute;bottom:0;color:#fff;white-space:nowrap;font-size:0;letter-spacing:-6px;}
.p_ul{display:inline-block;*display:inline;*zoom:1;width:100%;font:bold 22px/96px "微软雅黑";overflow:hidden;letter-spacing:0;}
.p_li{text-indent:2em;border-bottom:1px solid #303030;}